{% extends "base.html.twig" %}

{% block body%}
    <h1 class='page-title' >Questions</h1>
    <table class="table table-hover">
        <thead>
          <tr>
             <th>#</th>
             <th>Question</th>
             <th>Auteur</th>
             <th>Date de création</th>
             <th></th>
          </tr>
         </thead>
         <tbody>
             {% for text in texts %}
             <tr>
                <td>{{ text.id }}</td>
                <td>{{ text.text }}</td>
                <td>{{ text.author }}</td>
                <td>{{ text.created_at }}</td>
                <td>

                    {%if (text.status == 'pending')%}
                    <div class="btn-group" role="group" aria-label="...">
                      <a class="btn btn-default" href="{{ path('accept', {id: text.id}) }}">Accepter</a>

                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="{{ path('accept', {id: text.id}) }}">Accepter</a></li>
                          <li><a href="{{ path('refuse', {id: text.id}) }}">Refuser</a></li>
                        </ul>
                      </div>
                    </div>
                    {%elseif(text.status == 'accepted') %}
                    <a class="btn btn-default" href="{{ path('archive', {id: text.id}) }}">Archiver</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
{% endblock body%}
