<table class="table table-hover">
    <thead>
      <tr>
         <th>Id</th>
         <th>Question</th>
         <th>Status</th>
         <th>Auteur</th>
         <th>Date de création</th>
         <th>Action</th>
      </tr>
     </thead>
     <tbody>
         {% for text in texts %}
         <tr>
            <td>{{ text.id }}</td>
            <td>{{ text.text }}</td>
            <td>{{ text.status }}</td>
            <td>{{ text.author }}</td>
            <td>{{ text.created_at }}</td>
            <td>
                {%if (text.status == 'pending')%}
                    <a href="{{ path('accept', {id: text.id}) }}">Accepter</a>
                    <a href="{{ path('refuse', {id: text.id}) }}">Refuser</a>
                {%endif%}

                {%if (text.status == 'accepted')%}
                    <a href="{{ path('archive', {id: text.id}) }}">Archiver</a>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
